<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @page.heading %>
</p>

<p>
  <strong>Label:</strong>
  <%= @page.label %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @page.sort_order %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @page.user %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
